Linkedin post completed course.json
{
  "name": "Linkedin post completed course",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e64948e7-6187-4004-b454-7bf109171e04",
              "leftValue": "={{ $json[\"URL or fragment text\"] }}",
              "rightValue": "=http",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        -32
      ],
      "id": "25755ffb-fa26-47ba-a66f-d9720bb34c8d",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://browserless:3000/content",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "waitUntil",
              "value": "networkidle0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json[\"URL or fragment text\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        -128
      ],
      "id": "2eaf0fec-d871-4ff7-8983-676f1f89e06c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "page_content",
              "cssSelector": "body",
              "skipSelectors": "nav, footer, script, style, noscript, .cookie-banner, .header, .footer, .sidebar, .ads, svg, aside"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1040,
        -128
      ],
      "id": "5df88f56-2316-42c5-a232-1cdff8c035b1",
      "name": "HTML"
    },
    {
      "parameters": {
        "formTitle": "LinkedIn Content With Certificate Generator",
        "formDescription": "Publikacja Certyfikatu na LinkedIn",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL or fragment text"
            },
            {
              "fieldLabel": "pdf_certificate",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        272,
        128
      ],
      "id": "0fd22fde-4eef-48e3-8eef-b9e6e57d277a",
      "name": "On form submission",
      "webhookId": "2d590737-8955-4c1a-91a4-98a2f0ee797e"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Act as a professional LinkedIn Ghostwriter. I have just completed a certification course/event and I am attaching the certificate below.\n\nSOURCE TEXT TO ANALYZE:\n{{ $json.page_content || $json['URL or fragment text'] }}  \n\nYOUR TASKS:\n1. EXTRACT: Find the Course Name and the Organizer's Name from the text.\n2. CONTEXT: The training has ended. Write in the past tense.\n3. OPENING: Start with a thank you to the organizer for the opportunity to learn and for issuing the certification.\n4. HIGHLIGHTS: Focus ONLY on the technical/educational value. List specific skills, modules, or topics found in the text that are now confirmed by the attached certificate.\n5. EXCLUSIONS: Absolutely DO NOT mention pizza, catering, networking, or general intros. \n6. STYLE: Professional, English language, enthusiastic but technical.\n7. CTA: Mention that the official certificate is attached below.\n8. STRUCTURE:\n   - Hook (Thank you + Course/Event Name + Trainer Name)\n   - Bullet points of key technical topics/lectures\n   - \"Certificate of completion attached below.\"\n   - Professional closing\n   - Hashtags based on the Organizer and the topics.\n\nIMPORTANT: Return ONLY the post text with certification file. No introductory remarks. Do not use any markdown formatting like bold or italics (LinkedIn doesn't support them natively). Post cannot exceed 3000 characters."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1264,
        -16
      ],
      "id": "6dbe4587-b563-4aaa-81cc-f2407c5dee23",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "FP2TjMrhmxep72nV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1648,
        240
      ],
      "id": "c3c005a7-e8ea-4743-9db1-b6f5487f5c84",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "person": "xZ2PRAMieH",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1840,
        240
      ],
      "id": "ef1ff28c-aa38-4881-a3f2-2b6949e3d615",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "vJyZBydjuZUjU6do",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirling-pdf:8080/api/v1/convert/pdf/img",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "pageNumbers",
              "value": "=1"
            },
            {
              "name": "imageFormat",
              "value": "png"
            },
            {
              "name": "singleOrMultiple",
              "value": "single"
            },
            {
              "name": "colorType",
              "value": "rgb"
            },
            {
              "name": "dpi",
              "value": "200"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        144
      ],
      "id": "927cde90-72b1-45c8-973c-cc2ba84a2743",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b69e5173-39e7-4370-bba6-567f6de9eee3",
              "name": "data",
              "value": "=pdf_certificate",
              "type": "binary"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        480
      ],
      "id": "21c1e679-6281-4b75-9c61-8e86c23de094",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "67f58fce-f0fa-494c-a30a-7a4a48b06327",
              "leftValue": "={{ $binary[\"pdf_certificate\"].mimeType }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        304
      ],
      "id": "8460d2e7-2d2b-4798-8985-645fa7a69d19",
      "name": "If1"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Iterujemy przez wszystkie elementy wpadające do węzła\nfor item in _input.all():\n    \n    # Sprawdzamy, czy w danych binarnych istnieje plik 'pdf_certificate'\n    # (lub inna nazwa, którą masz w węźle Trigger/Formularz)\n    if 'pdf_certificate' in item.binary:\n        \n        # Pobieramy oryginalne dane pliku\n        original_file = item.binary['pdf_certificate']\n        \n        # Tworzymy nowe pole 'data' z wymuszonymi poprawnymi nagłówkami\n        item.binary['data'] = {\n            \"data\": original_file['data'],    # Kopiujemy samą treść pliku (base64)\n            \"mimeType\": \"application/pdf\",    # WYMUSZAMY typ PDF (to naprawia błąd \"null\")\n            \"fileName\": \"certificate.pdf\",    # Ustawiamy bezpieczną nazwę bez spacji\n            \"fileExtension\": \"pdf\"            # Ustawiamy rozszerzenie\n        }\n\n# Zwracamy naprawione dane do następnego węzła\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        144
      ],
      "id": "b2ce627e-d157-4bca-9d73-91c7623dcbd6",
      "name": "Code in Python (Beta)"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e05de54e-028b-4fc0-b80a-878250d8e537",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0431d6780a77a77e1cbc32dfbdc45a2ae4ffb2f14d277670cc504ae89a133c16"
  },
  "id": "2lq7pt4BNcxrXC2L",
  "tags": []
}